<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608416118489-iisqhkdg4tbi1ihq58hhuq1rhjitelqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608416118489-iisqhkdg4tbi1ihq58hhuq1rhjitelqk</string>
	<key>API_KEY</key>
	<string>AIzaSyAKmRlA81hLQnRUC43j3FUxqitrfWQGbYk</string>
	<key>GCM_SENDER_ID</key>
	<string>608416118489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>harma.WebView</string>
	<key>PROJECT_ID</key>
	<string>webviewapp-ffd78</string>
	<key>STORAGE_BUCKET</key>
	<string>webviewapp-ffd78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608416118489:ios:ec5a9394a1ffd87bebb0c8</string>
	<key>DATABASE_URL</key>
	<string>https://webviewapp-ffd78.firebaseio.com</string>
</dict>
</plist>